
@font-face {
    font-family: metropolis-regular;
    src: url('../fonts/metropolis.regular.otf');
}

@font-face {
    font-family:metropolis-medium;
    src: url('../fonts/metropolis.medium.otf');
}

@font-face {
    font-family:metropolis-bold;
    src: url('../fonts/metropolis.bold.otf');
}

@font-face {
    font-family:metropolis-black;
    src: url('../fonts/metropolis.black.otf');
}
.container-fluid{
    align-items: center;
    display: flex;
    flex: 0.8;
    
}


span.titulo-nav-gameflip{
    margin-left: 6px;
}
div#menu.collapse.navbar-collapse{
    padding-left: 0px;
    padding-right: 0px;
}

.navbar.navbar-expand-md.estilos-nav{
    margin-bottom: 0px;
    border-radius: 0px;
    padding-bottom: 3px;
    padding-top: 3px;
    justify-content: space-between;
   
}

.navbar.navbar-expand-md.estilos-nav2{
    margin-bottom: 0px;
    border-radius: 0px;
    padding-bottom: -1px;
    padding-top: -1px;
    padding-left: 0px;
    padding-right: 0px;
   
}



.IconoGameflip{
    width: 40px;
    height: 41px;
}

div.input-group.rounded.input-busqueda{
    width: 50%;
}

span#search-addon.input-group-text.border-0{
    
    background-color: transparent;
}   



.centrarelementos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.estilos-nav{
    background-color: #4618AC;
}

.estilos-navegacion-titulos{
    color: white;
    font-family: metropolis-medium;
    font-size: 1.5rem;
}

.estilos-navegacion-titulos:hover{
    color:#FAD318;
}


a.navbar-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    margin-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 16px;
    margin-left: -15px;
    padding-left: 15px;
}



.titulo-nav-gameflip{
    color: white;
    font-family: metropolis-bold;
    font-size: 2.4rem;
}



a.nav-link.activate.estilos-navegacion-titulos{
    padding: 8px;
}
.centrar-icon-login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hovericono:hover{
    color:#FAD318;
}

.estilos-navegacion-login:hover{
    color:#FAD318;
}

.estilos-navegacion-login{
    color: white;
    font-family: metropolis-medium;
    font-size: 1.5rem;
}

.estilos-nav2{
    background-color:#1F0A4D;
}

input.form-control.colordelinput{
    background-color: #3D1596;
}


.margindelboton{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.margindelformulario{
    margin-top: 4rem;
    margin-bottom: 4rem;    
}